name: Build and Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.0.x

    - name: Download SaintCoinach
      run: |
        Invoke-WebRequest -Uri "https://github.com/Souma-Sumire/SaintCoinach-hexcode/releases/latest/download/SaintCoinach.Cmd.zip" -OutFile "SaintCoinach.Cmd.zip"
        Expand-Archive -Path "SaintCoinach.Cmd.zip" -DestinationPath "SaintCoinach.Cmd"

    - name: Build
      run: dotnet build -c Release

    - name: Pack
      run: |
        $files = @(
          "bin\Release\net7.0\DumpCsv.deps.json",
          "bin\Release\net7.0\DumpCsv.dll",
          "bin\Release\net7.0\DumpCsv.exe",
          "bin\Release\net7.0\DumpCsv.pdb",
          "bin\Release\net7.0\DumpCsv.runtimeconfig.json"
        )
        Compress-Archive -Path $files -DestinationPath DumpCsv.zip

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: DumpCsv.zip
